h1{
    font-weight: bold;
}
.parrafo{
    font-size: 1.2em;
}
.fondofooter{
    background-color: gray;
    color: white;
    text-align: center;
}
.imagenfondo{
    height: 350px;
    background-image: url(img/anime.jpg);
}
.imagenfondo2{
    height: 350px;
    background-image: url(img/hxh.jpg);
}
.colorverde{
    color: green;
    font-weight: bold;
}
.hunter{
    font-weight: italic;
    font-family: Verdana;
    color: green;
    text-align: justify;
}